*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: black;
}

.shop-now{
    margin-top: 15px;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    border: none;
    background-color: red;
    font-weight: 650;
    cursor: pointer;
    border-radius: 25px;
    align-items: center;
}

.dif-welcome{
     background: red;
    color: rgb(255, 255, 255);
}

.logo{
    display: flex;
}

.dif-font{
    /* color: black; */
    background-color: red;
}

.logo{
    height: auto;
}

.home-content{
    color: black;
    position: absolute;
    top: 400px;
    left: 30%;
    background-color: rgb(34, 30, 34);
    text-align: center;
    padding: 50px;
    border-radius: 15px;
    /* background-color: aqua; */
}

.home-banner{
    height: 775px;
    width: 100%;
    /* background-color: yellow; */
    position: absolute;
    top: 0;
    z-index: -1;
}

.loading{
    color: white;
    text-align: center;
}

.nav-link{
    color: white;
    text-decoration: none;
}

.home-content{
    text-transform: capitalize;
    color: white;
}

h2{
    width: 550px;
}

nav {
    color: white;
    display: flex;
    gap: 50px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 19px;
    justify-content: center;
    position: relative;
    align-items: center;
}

.nav-con{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    height: 60px;
    width: 95%;
    background-color: rgb(50, 47, 47);
    display: flex;
    align-items: center;
    padding: 0 220px;
    border-radius: 35px;
    justify-content: space-between;
}

.product-con{
    height: 100%;
    width: 100%;
    margin-top: 15px;
    /* background-color: yellow; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.cir{
    height: 30px;
    width: 30px;
    background-color: red;
    color: white;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    left: 200px;
}

.item-card
{
    height: 420px;
    width: 310px;
    background-color: rgb(55, 52, 55);
    padding: 20px;
    box-sizing: border-box;
    /* padding: 10px; */
    display: flex;
    justify-content: space-evenly;
    border-radius: 12px;
    flex-direction: column;
    align-items: center;
}

.item-card:hover{
    transition: 0.2s;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.50);
}

 .item-img > img{
    height: 120px;
    width: auto;
    border: 1px solid black;
    padding: 20px;
    border-radius: 7px;   
}

.item-name > h2{
    width: 200px;
}

.add-cart-btn{
    padding: 10px 32px;
    font-size: 19px;
    font-weight: 700;
    text-transform: capitalize;
    border-radius: 25px;
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.50);
    cursor:pointer;
}

.add-cart-btn:hover {
    transition: 0.2s;
    transform: scale(1.032);
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.50);
}